/jvm/src/test-ext

# stuff from build.cmd
out/
target
bin/sbt*
bin/mill.bat
bin/platform.sh
bin/prelude.sh
bin/prelude.ps1
bin/sireum
bin/sireum.bat
bin/sireum.jar
bin/.sireum-win.jar
bin/linux
bin/mac
bin/win
bin/scala
lib
versions.properties
*.cmd.jar
*.cmd.com
air/
runtime/
slang/
project.json
*.dot