/jvm/src/test-ext

# stuff from build.cmd
out/
target
bin/platform.sh
bin/prelude.sh
bin/prelude.ps1
bin/sireum
bin/sireum.bat
bin/sireum.jar
bin/slang-run.*
bin/.sireum-win.jar
bin/linux
bin/mac
bin/win
bin/scala
lib
/resources/
versions.properties
*.cmd.jar
*.cmd.com
air/
etc/
parser/
runtime/
slang/
sysml/
project.json
*.dot
bin/install/
*7zz*