/jvm/src/test-ext

# build artifacts
out/
target
lib
/resources/
versions.properties
project.json
*.cmd.jar
*.cmd.com
*.dot

# bin/ artifacts
bin/platform.sh
bin/prelude.sh
bin/prelude.ps1
bin/sireum
bin/sireum.bat
bin/sireum.jar
bin/sireum-mcp.bat
bin/slang-run.*
bin/.sireum-win.jar
bin/.aot/
bin/install/
bin/linux
bin/mac
bin/win
bin/scala
bin/sbt/
bin/verilator/
*7zz*

# submodules
air/
etc/
parser/
runtime/
slang/
sysml/

# local artifacts
.docker-*/
.settings/
cache/
